
/*Import Raleway 400, 600 and 700 on line #1 (must be on first line)*/
/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-image: url('../images/andrew-welch-330269.jpg');
  position: relative;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  min-height: 300px;
  margin: 0 auto;
  text-align: center;
}

header nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  text-align: center;
}


header nav a{
color: white;
display: inline-block;
font-family: 'Raleway', sans-serif;
font-size:18px;
padding: 18px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
}

main nav {
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  text-align: center;
  font-weight: bold;
  }

main nav a{
  text-decoration: underline;
  color: black;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-size:18px;
  padding: 18px;
  text-transform: uppercase;
  text-decoration: underline;
}


header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: absolute;
  top: 52%;
  left:52%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

h2 {
  font-family:'Raleway', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  letter-spacing:2px;
  padding: 20px;
}

h3 {
  font-family:'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  letter-spacing:2px;
}

h4 {
  font-family:'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing:2px;
  padding-top: 40px;
  padding-bottom: 60px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-style: italic;
}

main {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}




.make_reservation{
  margin: 0 auto;
  height:200px;
  max-width: 100%;
  text-align: center;
  position: relative;
  background-color: rgb(129, 98, 97);
  color: white;
}


button {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(129, 98, 97);
  border-width: medium;
  border-color: white;
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left:35%;
  font-size: 24px;
  letter-spacing: 2px;
}

button:hover{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border-width: thick;
  border-color: white;
  background: rgb(106, 81, 80);
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left:35%;
  font-size: 26px;
  letter-spacing: 2px;
}


footer {
margin: 0 auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
padding: 20px;
max-width: 80%;
}

footer a {
  display: block;
  margin: 0 auto;
  padding: 4px;
  text-decoration: none;
  color:black;
}

footer nav {

  font-family:'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  letter-spacing:2px;
  text-align: center;
}

footer div{
  text-align: center;
  margin: 0 auto;
  }



.grid-wrapper-coffee {
  display: grid;
  height: 35vh;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px;
}

.grid-wrapper-expresso {
  display: grid;
  height: 35vh;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px;
}

.grid-wrapper-tea {
  display: grid;
  height: 35vh;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px;
}

.location{
  margin: 0 auto;
  }


.location .background-image{
  display: block;
  background-image: url('../images/alexandra-gorn-325610(2).jpg');
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.location h4{
  padding-top: 60px;
}

.map{
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
}
.grid-wrapper-location {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
  padding: 20px;
  max-width: 80%;
}

.gallery {
  margin: 0 auto;
  }

.gallery img{
  margin: 0 auto;
  max-width: 100%;
  -webkit-transform: scale(.6);
      -ms-transform: scale(.6);
          transform: scale(.6);
}


.scrolled {
  position: fixed;
  top:0;
  z-index:100;
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  text-align: center;
  background-color: black;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: .8;
}



@media screen and (max-width: 400px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    display: block;
  }
}

@media screen and (max-width: 200px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* ----------------------------------------
Add comments here for organization!!
------------------------------------------- */
